.body {
  background-color: #1f2937;
  height: 500px;
}

.main_container {
  width: 65%;
  margin: 0px auto;
}

.hero_img {
  width: 500px;
  height: 250px;
  float: right;
  object-fit: cover;

}

.hero_title {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 5px black;
}

.hero_txt {
  font-size: 18px;
  color: rgb(187, 78, 38);
  margin: 0px 0px 10px 0px;
}

.hero_btn {
  color: coral;
  background-color: transparent;
  padding: 6px 20px;
  border-radius: 5px;
  border: 1px solid coral;
  box-shadow: inset 1px 1px 8px rgb(187, 78, 38);
}