.quote_body {
  margin: 40px 0px;
  background-color: #e5e7eb;
  text-align: center;
  padding: 20px;
}

.quote_txt {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  color: #1f2937;
  width: fit-content;
  margin: 50px auto;
}

.quote_quoter {
  font-size: 15px;
  margin-left: 50%;
}